NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB29ZIyOy19DL18HllVEuNhEXadDxaLyTc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=koedubridge.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=koedubridge
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=koedubridge.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=780615933001
NEXT_PUBLIC_FIREBASE_APP_ID=1:780615933001:web:eb4a8d1e4a104df9a13398
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-KQC8NEBJX8
