EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyB29ZY0y19DL8H1lUVEhNExaDxaLyTc
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=koedubridge.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=koedubridge
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=koedubridge.appspot.com   # ← corrige ICI
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=780615933001
EXPO_PUBLIC_FIREBASE_APP_ID=1:780615933001:web:eb48d1e41a04df9a13398
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-KQC8NEBJX8
