# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

#####################################
# Dépendances & artefacts de build
#####################################
node_modules/
dist/
web-build/
.cache/
*.tsbuildinfo

#####################################
# Expo / Metro
#####################################
.expo/
.expo-shared/
expo-env.d.ts
.metro-health-check*

#####################################
# Logs
#####################################
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*
*.log
firebase-debug.log
debug.log

#####################################
# Environnements (ne PAS commit les secrets)
#####################################
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
.env.*.local

# Garder un gabarit traçable pour l’équipe
!.env.example

#####################################
# Firebase Admin (clé privée — ne JAMAIS commit)
#####################################
admin/seed/serviceAccount.json
admin/seed/serviceAccount*.json
admin/seed/*.private.json
admin/seed/*.key.json
.firebase/

#####################################
# Plateformes natives (ignorer si projet Expo "managed")
# Si tu passes en workflow "bare", tu préféreras les versionner.
#####################################
android/
ios/

# Android/iOS clés & profils
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Kotlin cache
.kotlin/

#####################################
# OS / éditeurs
#####################################
.DS_Store
Thumbs.db
*.pem
.idea/
.vscode/

#####################################
# Hébergeurs / outils
#####################################
.vercel/
.eleventy.js

#####################################
# Tests / couverture
#####################################
coverage/
.nyc_output/

#####################################
# Divers projet
#####################################
app-example/

# Secrets
app/admin/seed/serviceAccount.json
app/admin/seed/*.json
serviceAccount.json
.env
