rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Collections vitrine que tu gardes
    match /events/{id}   { allow read: if true; allow write: if false; }
    match /news/{id}     { allow read: if true; allow write: if false; }
    match /programs/{id} { allow read: if true; allow write: if false; }

    // Tout le reste interdit
    match /{document=**} { allow read, write: if false; }
  }
}
