rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    function isSelf(uid) { return isSignedIn() && request.auth.uid == uid; }
    function isAdmin() { return isSignedIn() && (request.auth.token.admin == true); }

    match /users/{uid} {
      allow read: if isSelf(uid) || isAdmin();
      allow create: if isSelf(uid) && request.resource.data.role == "user";
      allow update: if isSelf(uid) && request.resource.data.role == resource.data.role;
      allow write: if isAdmin();
    }
  }
}
